
.projects-content{

    width: 90%;
    margin: auto;
   

}



.projects-header{

    margin-top: 10%;
}

.projects-header h1{
    font-size: clamp(3rem, 10vw, 8rem);
    color: var(--white-alpha-40);
    font-weight: 900;
}

.projects-header p{
    margin-top: .5rem;
    font-size: clamp(1.4rem, 10vw, 1.4rem);
    font-weight: 500;
}

.projects-container{
  
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    place-items: center;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-snap-align: start;
    padding-bottom: 3rem;

    overflow-x: scroll;
    
}

.project-wrapper{
    
    width: 100%;
    height: 100%;
    background: var(--white-alpha-40);
    padding: 1rem;
    border-radius: .8rem;
}



.project-image > img{

    width: 100%;
    inline-size: 100%;
   object-fit: contain;
   border-radius: .8rem;
   aspect-ratio: 16 / 9;
   
   

}


.view-project{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project-details h2{
    font-size: clamp(2rem, 10vw, 2rem);
}
.project-details p{
    font-size: clamp(1.2rem, 10vw, 1.2rem);
}

.btn-project{

    padding: .8rem 1rem;
    letter-spacing: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .8rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

