.frame-section{
  
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    
   
}


.frame-article{

    width: 90%;
    height:90vh;
    margin: auto;
    border: .2rem solid #f7f7f7e5;
    border-radius: 3rem;
    background: var(--white-alpha-25);
    overflow: hidden;
    position: relative;
    
}


.hero-content{
    width: 90%;
    margin: auto;
}