.frame-section{
  
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}


.frame-article{

    width: 90%;
    min-height: 90vh;
    margin: auto;
    border: .2rem solid var(--white-alpha-40);
    border-radius: 3rem;
    background: var(--white-alpha-25);
    overflow-y: hidden;
}