.frame-section{
  
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.contact-content{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 77vh;
   
}

.contact-header h1{
    font-size:clamp(3rem, 10vw, 8rem);
    color: var(--white-alpha-40);
    font-weight: 900
    ;
}
.contact-header p{
    font-size:1.1rem;
    font-weight: 500;
}



.contact-form input{
    width: 100%;
    height: 3.4rem;
    background: rgba(255, 255, 255, 0.089);
    padding-left: 1rem;
    border: none;
    margin-top: 1rem;
    position: relative;
    color: #f7f7f7e5;
    font-weight: 500;
  
}

.contact-form ::placeholder{
    font-size: 1.4rem;
    color: #f7f7f7e5;
    font-weight: 500;
    

}

.contact-form :focus{
    outline: none;
    width: 100%;
    border-bottom: .1rem solid #f7f7f7e5;
   
}

.contact-form textarea{
    width: 100%;
    height: 8.4rem;
    background:  rgba(255, 255, 255, 0.089);
    margin-top: 1rem;
    border: none;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #f7f7f7e5;
    font-weight: 500;

}

textarea, ::placeholder{
    
    font-weight: 900;
    font-size: 1.4rem;
}


.form-btn{
    text-align: left;
    margin-top: 1rem;
}

.form-buttn{

    padding: .8rem 1rem;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: .2rem;
    color: #f7f7f7e5;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    position: relative;
    background: transparent;
    border: .2rem solid #f7f7f7e5;
    z-index: 1;
    
}

.form-btn .form-buttn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-alpha-25);
    transition: all .6s ease-in-out;
    color: #0f0f0f;
    z-index: -1;
}

.form-btn .form-buttn:hover::after{
    width: 100%;
}


@media screen and (min-width:360px) {
    .frame-article{
  
        width: 85%;
        margin: auto;
        height:90vh;
        border: .2rem solid #f7f7f7e5;
        border-radius: 3rem;
        background:#262626;
      
        
    }

    .contact-header p{
        font-size:1.1rem;
        font-weight: 500;
    }

    .contact-content{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
     
  
    }
    .contact-form input{
        
        height: 5rem;
    }

    .contact-form textarea{
       
        height: 15rem;
    }

    
  }

@media screen and (min-width:428px) {
    .frame-article{
  
        width: 85%;
        margin: auto;
        height:90vh;
        border: .2rem solid #f7f7f7e5;
        border-radius: 3rem;
        background:#262626;
      
        
    }

    .contact-header p{
        font-size:1.5rem;
        font-weight: 500;
    }

    .contact-content{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
       
       
    }
    .contact-form input{
        
        height: 5rem;
    }

    .contact-form textarea{
       
        height: 20rem;
    }

    
}

@media screen and (min-width: 500px) {

    .frame-article{
  
        width: 85%;
        margin: auto;
        height:90vh;
        border: .2rem solid #f7f7f7e5;
        border-radius: 3rem;
        background:#262626;
      
        
    }

    .contact-header p{
        font-size:1rem;
        width: 90%;
        font-weight: 500;
    }

    .contact-content{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        height: 0;
       
       
    }
    .contact-form input{
        width: 40rem;
        height: 4.4rem;
    }

    .contact-form textarea{
       
        width: 40rem;
        height: 13rem;
    }

    
}

@media screen and (min-width:768px) {
    .frame-article{
  
        width: 85%;
        margin: auto;
        height:90vh;
        border: .2rem solid #f7f7f7e5;
        border-radius: 3rem;
        background:#262626;
      
        
    }

    .contact-header p{
        font-size:1.5rem;
        font-weight: 500;
    }

    .contact-content{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
       
       
    }
    .contact-form input{
        width: 50rem;
        height: 5rem;
    }

    .name-email {
        
        display: flex;
        gap: 1rem;
    }
    .name-email input {

      width: 24.5rem;
    }

    .contact-form textarea{
        width: 50rem;
        height: 15rem;
    }

    
}

