@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color:#e02f6b;
  --blue-Color: #0000ff;
  --dark-blue: #18293c;
  --light-cyan:#60c8f8;
  --light-pink:#efa2b4;
  --white:#fff;
  --white-alpha-40: rgba(255,255,255,0.40);
  --white-alpha-25:rgba(255,255,255,0.25);
  --backdrop-filter-blur:blur(10px);
}

*, ::after, ::before{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

}

html{

  font-size: 62.5%;

}

body{

 
  background: #212121;
  font-family: 'Playfair Display', serif;
  
  
}

.frame-section{
  
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.frame-article{

  width: 90%;
  margin: auto;
  height:90vh;
  border: .2rem solid #f7f7f7e5;
  border-radius: 3rem;
  background:#262626;

  
}

li{

  list-style: none;
}

h1,h2,h3,h4,h5,h6, p{
  
  color: #fff;

}

a{
  text-decoration: none;
  color: #0f0f0f;
}
button{
  border: none;
  outline: none;
}


@media screen and (min-width:768px) {
  .frame-article{

      width: 85%;
      margin: auto;
      height:90vh;
      border: .2rem solid #f7f7f7e5;
      border-radius: 3rem;
      background:#262626;
    
      
  }
}
@media screen and (min-width:1024px) {
  .frame-article{

      width: 80%;
      margin: auto;
      height:90vh;
      border: .2rem solid #f7f7f7e5;
      border-radius: 3rem;
      background:#262626;
    
      
  }
}
